extends layout

block content

  script.
    $('#home_li').addClass('active');
  .container
    .row-fluid.heading
      .span12
        br 
        h1(style='padding-bottom: 10px;') #{docs.PostTitle}
        br
        p(style='padding-bottom: 20px;')
          img.img-polaroid(alt=docs.PostTitle, src=docs.PostImage width='720' height='450')
        p(style='max-width: 720px; text-align: justify; margin: 0 auto;') !{docs.Post}
        p #{docs.Date}  
                           
