extends layout

block content

  script.
    $('#firms_li').addClass('active');
  .container
    .row-fluid.heading
      .span12
        h1(style='padding-bottom: 10px;') !{title} Accuracy
        p &nbsp;
        table.table-stiped(id="firmTable" align="center" width="100%" cellpadding="0" cellspacing="0" border="0")
          thead
            tr
              th
                h3 Analyst for !{title}
              th
                h3 Percent Error
              th
                h3 Number of Ratings
          tbody      
            each doc, i in forecast
              tr
                td
                  p 
                    a(href='/analysts/'+doc._id) #{doc._id}
                td
                  p #{Math.round(doc.value.avg *10) / 10}%
                td
                  p #{doc.value.count}
