extends layout

block content
  include node-login/modals/alert
  include node-login/modals/confirm

  script.
    $('#stocks_li'.addClass('active');
  .container
    .row-fluid.heading
      .span12
        h1(style='padding-bottom: 10px;' align="center") #{title} - #{forecast[1].Company}   
        br
        div(id="AMchartdiv" style="background: #545454; color: #ffffff; width: 100%; height: 500px;")
        p(style='padding-bottom: 30px;')  
        table.table-striped(id="firmTable" align="center" width="100%" cellpadding="0" cellspacing="0" border="0")
          thead
            tr
              th
                h3 Date
              th    
                h3 Firm
              th
                h3 Analyst
              th
                h3 Rating
              th
                h3 Price Target
              th
                h3 Percent Error
          tbody
            each doc, i in forecast
              tr
                td
                  p #{doc.Date.getMonth()+1}/#{doc.Date.getDate()}/#{doc.Date.getFullYear()}
                td    
                  p !{doc.Firm}
                td
                  p #{doc.Analyst}
                td
                  p !{doc.Rating}
                td
                  p #{doc.Price_int}
                td
                  p #{doc.Percent_Diff}

block scripts
  //- node-login stuff
  //- script(src='../node-login/vendor/jquery.min.js')
  script(src='../node-login/vendor/jquery.form.js')
  script(src='../node-login/vendor/bootstrap-modal.js')
  script(src='../node-login/vendor/bootstrap-transition.js')
  script(src='../node-login/js/views/home.js')
  script(src='../node-login/js/controllers/homeController.js')
  script(src='../node-login/js/form-validators/accountValidator.js')
